language: node_js
cache:
  directories:
    - ~/.npm
notifications:
  email: false
node_js:
  - '8'
  - '6'
  - '4'
before_script:
  - npm prune
script:
  - npm run build
  - npm run test
after_success:
  - npm run semantic-release
branches:
  only:
  - master
